

.mass{
    font-size: 300px;
    text-align: center;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-size: 70px;
    padding-top: 50px;
    text-align: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
